<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Postcard For You!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hello From Hong Kong!</h1>
    <p>Dear @Model.Recipient,</p>
    <p>How are you? I hope that you are having a nice weekend. I'm vacationing in @Model.Location, and taking a coding class while here.</p>
    <p>Oh my gosh, @Model.Recipient, you would not believe how beautiful it is here! I really enjoy the area I live in, and I have made a few friends. One of my coding school friends invited me to a party, where I won a @Model.Souvenir by winning a poker game!</p>
    <p>Anyways, I like programming a lot, so I've got that as my main priority while here.</p>
    <p>Looking forward to seeing you soon.</p>
    <p>Cheers,</p>
    <p>Your BFF @Model.Sender</p>
  </body>
</html>